<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.epsi.gomi"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProductActivity"
            android:label="@string/title_page_list" />
        <activity
            android:name=".AccountActivity"
            android:label="Compte"/>
        <activity
            android:name=".WasteSortingActivity"
            android:label="Le tri collectif" />
        <activity
            android:name=".FormationActivity"
            android:label="formation" />
        <activity
            android:name=".LocalisationActivity"
            android:label="@string/title_page_localisation" />
        <activity
            android:name=".SettingsActivity"
            android:label="Paramètres"/>
        <activity
            android:name=".ScanListActivity"
            android:label="Accueil" />
        <activity
            android:name=".HomePageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoiceConnexionActivity"
            android:label="Connexion"/>
        <activity
            android:name=".GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />
        <activity
            android:name=".ConnexionActivity"
            android:label="@string/label_connexion"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>